@model Sc2TutsBase.Models.TutorialEntry
@using Sc2TutsBase.App_code
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

<h2>En attendant Makoz Friends Admin</h2>
    <fieldset id="editionfs">
        <legend>Nouveau tutorial</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Author, null)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Title, new { style = "width:600px;" })
        </div>
		

        <div class="editor-label">
            @Html.LabelFor(model => model.VideoUrl)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.VideoUrl, new { style="width:600px;"})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description, new { style = "width:600px;" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentLeague)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.CurrentLeague, null)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Race)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Race, null)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Against)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Against, null)
        </div>
        <p>
            <input type="submit" value="Ajouter" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

